---
import { cn } from "@/lib/utils";
import { MainBreadcrumb } from "./features/Home/components/MainBreadcrumb";
import Navegation from "./Navegation.astro";
import type { ViewComponentType } from "@/data/navigation-context";

interface Props {
  bannerComp?: HTMLElement
  title: string;
  description: string;
  type?: ViewComponentType
}

const { bannerComp, title, description, type } = Astro.props;
---

<div
  class={cn(
    "flex flex-col mx-auto",
    bannerComp ? "gap-12" : "gap-4",
    // ["not-found", "no-viable"].includes(renderSpecialView?.type || "")
    //   ? "max-w-[768px]"
    //   : "max-w-[992px]"
  )}
>
  <div class="flex flex-col items-start justify-center gap-1 max-w-[88%]">
    <MainBreadcrumb />
    {bannerComp && bannerComp}
    <!-- {
      isStepValid && (
        <div className="flex flex-col items-start justify-center gap-6">
          <h1 className="text-[#003876] font-semibold text-[32px] leading-[120%]">
            Viajar con un menor: guía oficial para solicitar el permiso
          </h1>
          <div className="hidden lg:flex flex-col items-start justify-center gap-4">
            <div>
              <p className="font-semibold text-[20px] leading-[120%] text-[#1E293B]">
                Qué es
              </p>
              <p className="text-[#475569] text-base font-normal">
                El permiso de salida del menor es la certificación mediante la
                cual uno o ambos padres autorizan a un menor dominicano, o
                extranjero con residencia legal, a salir del territorio
                nacional.
              </p>
            </div>
            <div>
              <p className="font-semibold text-[20px] leading-[120%] text-[#1E293B]">
                A quién va dirigido
              </p>
              <p className="text-[#475569] text-base font-normal">
                Está dirigido al padre, la madre, ambos padres o el tutor legal
                del menor.
              </p>
            </div>
            <div>
              <p className="font-semibold text-[20px] leading-[120%] text-[#1E293B]">
                Cómo solicitarlo
              </p>
              <p className="text-[#475569] text-base font-normal">
                Responde las preguntas de esta guía para conocer cuáles son los
                documentos que debes presentar y los pasos a seguir.
              </p>
            </div>
          </div>
        </div>
      )
    } -->
  </div>

  <div class="w-full">
    <div class="mb-9">
      <Navegation type={type} />
    </div>
    <!-- {
      historySteps.length > 0 && formData.slug && (
        <div className="mb-9">
          <NavigationButtons
            renderSpecialView={renderSpecialView!}
            goBack={goBack}
            goToStart={goToStart}
          />
        </div>
      )
    } -->

    <div class="flex flex-col gap-8">
      <div
        class={cn(
          "fade-in duration-500 animate-in",
          "flex flex-col gap-1",
          // renderSpecialView?.type === "documentation" && "max-w-[700px]",
          // renderSpecialView?.type === "not-found" && "max-w-[768px]"
        )}
      >
        <div class="flex flex-col lg:flex-row items-center justify-start">
          <h2 class="font-bold text-[28px] text-[#1E293B] text-left">
            {title}
          </h2>
        </div>
        <h2 class="text-base font-normal text-[#475569]">
          {description}
        </h2>
      </div>

      <!-- Content -->
      <slot />
      <!-- Content -->

    </div>
  </div>
</div>
