---
import GovernmentOfficialHeader from "@/components/GovernmentOfficialHeader.astro";
import AsciiArt from "@/components/AsciiArt.astro";
import GoogleTag from "@/components/Integration/GoogleTag.astro";
import Clarity from "@/components/Integration/Clarity.astro";
import Header from "@/components/Header/index.astro";
import { SEO } from "@/data/seo";
import "@fontsource-variable/roboto";
import "@/styles/global.css";

const hostname = Astro.url.hostname;

const isProd = process.env?.NODE_ENV === 'production';

console.log("Environment:", process.env?.NODE_ENV, "Hostname:", hostname);

---

<!doctype html>
<html lang="es-ES">
  <!-- <AsciiArt /> -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={SEO.og.url} />

    <meta name="robots" content={isProd ? "index, follow" : "noindex, nofollow"} />
    <title>{SEO.title}</title>

    <meta name="description" content={SEO.description} />
    <meta name="keywords" content={SEO.keywords} />

    <meta property="og:title" content={SEO.og.title} />
    <meta property="og:description" content={SEO.og.description} />
    <meta property="og:image" content={SEO.og.image.url} />
    <meta property="og:image:type" content={SEO.og.image.type} />
    <meta property="og:image:width" content={SEO.og.image.width} />
    <meta property="og:image:height" content={SEO.og.image.height} />
    <meta property="og:url" content={SEO.og.url} />
    <meta property="og:type" content={SEO.og.type} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={SEO.title} />
    <meta name="twitter:description" content={SEO.og.description} />
    <meta name="twitter:image" content={SEO.og.image.url} />
    {isProd && <Clarity />}
  </head>
  <body class="antialiased">
    <GovernmentOfficialHeader />
    <Header />
    <main class="bg-background antialiased">
      <slot />
    </main>
    {isProd && <GoogleTag />}
  </body>
</html>
